@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

html {
    font-size: 20px;
}

body {
    color: black;
    background-color: white;
    font-family: "Source Serif Pro", serif;
    margin: auto;
    padding-right: 7rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    max-width: 40rem;
    line-height: 1.5;
}

aside {
    float: right;
    clear: right;
    margin-right: -6rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

aside > img {
    max-width: 10rem;
}

aside > figure > img, aside > figure > figcaption {
    max-width: 20rem;
    font-size: 0.85rem;
}

aside > figure > figcaption {
    padding-top: 0.5rem;
    font-style: italic;
}

aside > figure > figcaption > span.source {
    font-style: normal;
}

@media (max-width: 68rem) {
    body {
        /* background-color: blue; */
        padding-right: 2rem;
    }
    aside {
        margin-right: 0;
    }
    aside > img {
        max-width: 8rem;
    }
}

@media (max-width: 45rem) {
    body {
        /* background-color: aqua; */
    }
    aside {
        float: none;
        clear: both;
        margin: 0;
        padding: 0;
    }

    aside > img {
        max-width: 10rem;
    }
    
    aside > figure > img {
        max-width: 20rem;
    }
}

h2 > img.logo-inline {
    display: inline;
    max-height: 1.4em;
    max-width: 1.3em;
    vertical-align: middle;
    padding-right: 0.5rem;
}